body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("img/Background/Layers/Water/D1.png");
    font-family:'Luckiest', Arial, Helvetica, sans-serif;
}
canvas{
    background-color:black;
    display:block;
}
h1{
    font-size: 50px;
    text-shadow: 2px,2px,2px
}
.fullscreen{
    max-width:800px;
}
.start-page{
    width:720px;
    height:480px;
    background-image: url("img/Background/Light/1.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.d-none{
    display:none;
}
.sharkie{
    width:150px;
    height:200px;
}
.final-enemy{
    width:350px;
    height:250px;
}
.button{
    border-radius: 10px;
    color:bisque;
    background-color: rgb(218, 39, 72);
    cursor: pointer;
    width: 100px;
    padding:8px;
}
.button:hover{
    scale: 1.3;
}
.jelly-enemy{
    width:100px;
    height:140px;
}
.puffer-enemy{
    width: 50px;
    height:50px;
}

.sharkie-and-enemy{
    display:flex;
    justify-content: space-around;
}
.responsive-buttons{
    position: absolute;
    z-index: 10;  
    /* padding-top: 10px; */
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display:none;
}
.responsive-buttons img{
    width:40px;
    height:40px;
    padding-top: 10px;
}
.help-button{
    position: absolute;
    z-index: 10;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    top: 12vh;
    right: 26vW; 
    background-color: rgba(0, 0, 0, 0.3); 
}
.help-overlay{
    /* width:500px; */
    /* height:450px; */
    position: absolute;
    z-index: 11;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    top: 14vh;
    /* left:30VW; */
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding:40px;
}
.help-d{
    width:40px;
    max-width:300px;
    height:40px;
}
.help-swim{
    width:160px;
    height:100px;
}
.help-space{
    width:300px;
    height:40px;
}
.mute-button{
    top: 12vh;
    right: 30vW; 
    background-color: rgba(0, 0, 0, 0.3);
    display:block;
}
.touch-button-left{
    top: 80vh;
    left: 10vW;   
}
.touch-button-right{
    top: 80vh;
    right: 10vW;  
}
.touch-button-up{
    top: 80vh;
    right: 16vW;   
}
.touch-button-down{
    top: 80vh;
    left:16vW;
}
.touch-button-poison{
    top: 80vh;
    right: 22vW;  
}
.touch-button-space{
    position: absolute;
    z-index: 10;  
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    top: 80vh;
    left:22vW;
    display:none;
}
.touch-button-space img{
    width:300px;
    height:40px;
}
.change-view-overlay{
    display: none;
    z-index:11;
    position: absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.5);
    width:100vW;
    height:100vH;
    color:white;
    justify-content: center;
    align-items: center;
}
.won-game-page{
    background-image: url("img/Botones/Tittles/Youwin/Mesadetrabajo1.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 780px;
    height: 450px;
}
@media only screen and (max-width:720px){
    canvas{
        width:100%;
    }
    .responsive-buttons{
        display: block;
    }
    .touch-button-space{
        display:block;
    }
}
@media (max-width:640px){
    .change-view-overlay{
        display:flex;
    }
}
@media only screen and (max-height:480px){
    canvas{
        height:95vH;
    }
    h1{
        display:none;
    }
    .responsive-buttons{
        display: block;
    }
    .touch-button-space{
        display:block;
    }
}