body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("img/Background/Legacy/Layers/5. Water/L2.png");
    color:white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100vh;
}
h1{
    font-family:'Luckiest', Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    color:white;
}
.footerOfPage{
    background-image:url("img/Background/Legacy/Layers/3.Fondo 1/D1.png")!important;
    padding-bottom:40px;
    z-index:12;
}
.footerOfPage a{
    text-decoration: none;
    padding: 0 8px;
}
.footerOfPage a:hover{
    text-decoration: underline;
}

a{
    color:white;
    cursor: pointer;
}
a:hover{
    color:bisque;
}
.sounds{
    display: flex;
    flex-direction: column;
}
.contentImpressum{
    padding:40px;
    min-height: 90vh;
    max-width:1820px;
}
.contentDsgvo{
    padding:40px;
    max-width:1820px;
}
.quellen{
    background-color: white !important;
}
header{
    text-align: center;
}
.svg-button{
    display:flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height:30px;
}
.menu-button{
    z-index: 10;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    top: 8vh;
    right: 6vW; 
    background-color: rgba(0, 0, 0, 0.3); 
}
.menu-for-pages{
    position: relative;
    top: 13vh;
    right: 6vW; 
    width: 100px;
    /* height:100px; */
    border-radius: 5px;
    background-color:  rgba(0, 0, 0, 0.3);
    display:none;
    justify-content: center;
    flex-direction: column;
}
.menu-for-pages a{
    color:white;
    z-index:10;
    padding:4px;
    text-decoration: none;
    background-color:  rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.menu-for-pages a:hover{
    scale:1.1;
    background-color:  rgba(0, 0, 0, 0.9);
}
@media(max-width:500px){
    .contentImpressum{
        padding:12px;
    }
    .contentDsgvo{
        padding:12px;
    }
    h1{
        font-size: 35px;
    }
}
@media screen and (min-width: 1440px){
    .all-buttons-top{
        right:40vW;
    }
    .menu-for-pages{
        right:2vW;
    }
}